@page "/addins"
@using CoffeeShop.Models
@using QuestPDF.Fluent;
@using QuestPDF.Fluent;
@using QuestPDF.Helpers;
@using QuestPDF.Infrastructure;

<h3>Addins</h3>


<EditForm Model="@addins">
    <div>
        <!-- ... -->
        <label class="form-label">Coffee Name</label>
        <input type="text" class="form" id="coffee" @bind="addins.Name" />
        <br><br>

        <label class="form-label">Price</label>
        <input type="number" class="form" id="price" @bind="addins.Price" />
        <!-- ... -->
        <button class="btn btn-primary" @onclick="Add">Save</button>
        <div class="d-flex justify-content-end"><button class="btn btn-success" @onclick="SavePDF">Generate PDF</button></div>
    </div>
</EditForm>
<br>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Flavours</td>

            <td>Price</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in addin)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>

                <td>@item.Price</td>
                <td><button class="btn btn-danger" @onclick="() => Delete(item.Id)">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<CoffeeShop.Models.Addins> addin { get; set; }

    private CoffeeShop.Models.Addins addins = new();

    protected override void OnInitialized()
    {
        addin = AddinService.GetAll();
    }

    private void Add()
    {
        if (string.IsNullOrWhiteSpace(addins.Name))
        {
            return;
        }
        addins.Id = addin.Count + 1;
        AddinService.AddAddins(addins.Id, addins.Name, addins.Price);

        addins = new();
        addin = AddinService.GetAll();

    }

    private void Delete(int Id)
    {
        AddinService.DeleteAddins(Id);
        addin = AddinService.GetAll();
    }

    private void SavePDF()
    {
        

        if (addin != null)
        {

            var appPath = Utils.GetAppDirectoryPath();
            Document.Create(container =>
            {
                container.Page(page =>
                {
                    page.Size(PageSizes.A4);
                    page.Margin(1, Unit.Centimetre);
                    page.PageColor(Colors.White);
                    page.DefaultTextStyle(x => x.FontSize(15));

                    page.Header().Text("Bislerium café -- Addins Availables ");


                    page.Content().Table(table =>
                    {
                        table.ColumnsDefinition(columns =>
                        {
                            columns.RelativeColumn();
                            columns.RelativeColumn();
                            columns.RelativeColumn();

                        });

                        table.Header(header =>
                        {
                            header.Cell().Text("SNo.");
                            header.Cell().Text("Addins");

                            header.Cell().Text("Price");

                        });

                        int index = 1;
                        foreach (var item in addin)
                        {
                            table.Cell().Text(index.ToString());
                            table.Cell().Text(item.Name);

                            table.Cell().Text(item.Price.ToString());
                            index++;
                        }


                    });

                    page.Footer().Text(text =>
                    {
                        text.Span("Page :");
                        text.CurrentPageNumber();
                    });
                });
            }).GeneratePdf(Path.Combine(appPath, "Addins.pdf"));

        }
    }

}
