@page "/home"

<h1>Hello, world!</h1>
<br>
Welcome to your new app.

<Label>Total Revenue :</Label><input value="@totalSales"/>

@code{
    private List<CoffeeShop.Models.BillMaster> billMaster { get; set; }
    private double totalSales;

    protected override void OnInitialized()
    {
        // Initialize your data
        billMaster = BillMasterService.GetAll();

        totalSales = 0;

        foreach (var item in billMaster)
        {
            totalSales += item.TotalPrice;
        }
    }
}
