@page "/"
@inject NavigationManager NavigationManager
@inject CoffeeShop.Services.AuthService AuthService

<h3>Login</h3>

<form @onsubmit="login">
    <label for="username">Username:</label>
    <input type="text" id="username" @bind-value="username"/>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" @bind-value="password" />

    <br><br>
    <button type="submit">Login</button>
</form>
@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; } 
    private bool _showDefaultCredentials { get; set; }
    private string? username { get; set; }
    private string? password { get; set; }
    private string _errorMessage = "";


    protected override void OnInitialized()
    {
        try
        {
            var user = UserService.Login(UserService.SeedUsername, UserService.SeedPassword);
            _showDefaultCredentials = user.HasInitialPassword;
        }
        catch { }

        _globalState.CurrentUser = null;
        _errorMessage = "";
    }

    private void login()
    {
        try
        {
            _errorMessage = "";
            _globalState.CurrentUser = UserService.Login(username, password);
            if (_globalState.CurrentUser != null)
            {
                // NavigationManager.NavigateTo("/home");
                NavigationManager.NavigateTo(_globalState.CurrentUser.HasInitialPassword ? "/change-password" : "/");
            }
        }
        catch (Exception e)
        {
           _errorMessage = e.Message;
            Console.WriteLine(e);
        }
    }

    // private void login()
    // {
    //     if (string.IsNullOrWhiteSpace(username) || string.IsNullOrWhiteSpace(password))
    //     { 
    //         return;
    //     }
        
    //     if (AuthService.Login(username, password))
    //     {
    //         // Redirect to a secured page
    //         AuthService.RedirectToPage(NavigationManager, "/home");
    //     }
    //     else
    //     {
    //         // Navigate to "/" when credentials are incorrect
    //         NavigationManager.NavigateTo("/");
    //     }
    // }
}
