@page "/"
@inject NavigationManager NavigationManager
@inject CoffeeShop.Services.AuthService AuthService

<h3>Login</h3>

<form @onsubmit="login">
    <label for="username">Username:</label>
    <input type="text" id="username" bind="@username"/>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" bind="@password"/>

    <br><br>
    <button type="submit">Login</button>
</form>
@code {
    private string? username;
    private string? password;

    private void login()
    {
        if (string.IsNullOrWhiteSpace(username) || string.IsNullOrWhiteSpace(password))
        { 
            return;
        }
        
        if (AuthService.Login(username, password))
        {
            // Redirect to a secured page
            AuthService.RedirectToPage(NavigationManager, "/home");
        }
        else
        {
            // Navigate to "/" when credentials are incorrect
            NavigationManager.NavigateTo("/");
        }
    }
}
