@page "/"
@inject NavigationManager Navigate

<h3>Login</h3>

<form>
    <label for="username">Username:</label>
    <input type="text" id="username" bind="@username" />
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" bind="@password" />

    <br><br>
    <button type="button" @onclick="login">Login</button>
</form>
@code {
    private string? username;
    private string? password;

    private void login()
    {
 
        
        if (username == "admin" && password == "admin")
        {
            Navigate.NavigateTo("/home");
        }
        else
        {
            // Navigate to "/" when credentials are incorrect
            Navigate.NavigateTo("/");
        }
    }
}
