@page "/members"
@using CoffeeShop.Models

<strong><h1 class="text-left mb-4">Memebers/Customers</h1></strong>

<br>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark"
                <tr>
                    <th>S.No</th>
                    <th>Customer</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < member.Count; i++)
                {
                    var item = member[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@item.CustomerName</td>
                        <td>@item.CustomerNumber</td>
                        <td>
                            <button class="btn btn-danger btn-sm" @onclick="() => Delete(item.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@code {
    private List<Member> member { get; set; }


    protected override void OnInitialized()
    {
        member = MemberService.GetAll();
    }

    public void Delete(int Id)
    {
        MemberService.DeleteMember(Id);
        member = MemberService.GetAll();
    }
}
