
@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="page">

    @if (_globalState.CurrentUser != null)
    {
        <div class="sidebar">
            <NavMenu UserRole="@_globalState.CurrentUser.Role" />
        </div>
    }

    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value="@_globalState">
            @Body
            </CascadingValue>
        </article>
    </main>
</div>
@code {

    private Role userRole = Role.User;
    private GlobalState _globalState = new();

    protected override void OnInitialized()
    {
        UserService.SeedUsers();

        // Assuming you have a property to store the current user in _globalState
        var currentUser = _globalState.CurrentUser;

        if (currentUser != null)
        {
            userRole = currentUser.Role;
        }
    }
}