@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CoffeeShop</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" >
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* coffee *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coffee">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Coffee
            </NavLink>
        </div>

        @* coffee addins *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addins">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Coffee AddIns
            </NavLink>
        </div>

        @* sale *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sales">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Point Of Sale
            </NavLink>
        </div>




        <div class="nav-item px-3">
            <NavLink class="nav-link" href="change-password">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Change Password
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link text-danger" role="button" @onclick="LogoutHandler">
                <span class="bi bi-list-nested-nav-menu" /> Logout
            </NavLink>
        </div>
      
    </nav>
</div>

@code {

    private void LogoutHandler()
    {
        NavigationManager.NavigateTo("/");
        NavigationManager.NavigateTo("/");
        
    }

   
}